*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}

html, body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

h1{
    font-weight: 400;
}

button{
    all: unset;
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 30px;
    background-color: #fa0000;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo2{
    /* margin-left: 40%; */
}

nav ul{
    display: flex;
    gap: 45px;
    list-style: none;
    margin-right: 10px;
}

nav ul :hover{
    color: black;
}

nav a{
    color: grey;
}

.requestInviteBtn{
    background: linear-gradient(to right,hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    padding: 12px;
    color: #fff;
    border-radius: 35px;
    /* width: 70%; */
    text-align: center;
    /* margin-right: 53px */
}

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 80px;
    background-color: rgb(243,244,246);
}

main h1{
    font-size: 60px;
}

main p{
    font-size: 22px;
    padding: 20px 0;
    line-height: 1.6;
}

main div{
    width: 50%;
}

main img{
    width: 42%;
    margin-top: 2%;
    padding: 12px;
}

main .mainbtn1{
    /* background-color: rgb(38,198,159); */
    background: linear-gradient(to right,hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    color: #fff;
    padding: 10px;
    text-align: center;
    /* width: 20%; */
    border-radius: 35px;
    /* border: 5px solid rgb(41,199,153); */
    /* margin-left: 6%; */
}

#about{
    padding: 100px 60px;
    background-color: #f0f0f0;
}

/* .about-head{
    padding: 20px;
} */

.about-body{
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-items: center;
}

.about-header{
    padding-bottom: 50px;
    width: 50%;
}

.about-header h1{
    font-size: 45px;
    padding-bottom: 10px;
}

.about-header p{
    font-size: 18px;
    line-height: 1.3;
}

.about-body h3{
    padding: 20px 0;
}

.about-body P{
    font-size: 18px;
    line-height: 1.6;
}

#blogs{
    padding: 80px 60px;
    background-color: rgb(243,244,246);
}

.blog-body{
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    padding: 22px 0;
}

.blog-body div{
    box-shadow: 0 0 15px #aaaaaa;
}

.blog-body div img{
    width: 100%;
}

.blog-body .blogContent{
    padding: 12px 10px;
}

.blog-body .blogContent a{
    display: block;
    padding: 8px 0;
    font-size: 14px;
    color: black;
}

.blog-body .blogContent a:hover{
    color: hsl(136, 65%, 51%);
}

.blog-body p{
    font-size: 14px;
    line-height: 1.5;
}

#careers{
    display: flex;
    justify-content: space-between;
    padding: 50px 60px;
    background-color: rgb(45,49,77);
}

footer a, footer p{
    color: #fff;
}

footer a:hover{
    color: hsl(136, 65%, 51%);
}

footer ul li{
    margin-top: 10px;
}

footer ul{
    list-style: none;
}

.footer-btn{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-btn button{
    background: linear-gradient(to right,hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    padding: 12px;
    color: #fff;
    border-radius: 35px;
    width: 70%;
    text-align: center;
    align-self: flex-end;
}

footer img{
    margin-bottom: 25px;
    filter: invert(0.3);
}

.footer-icons{
    display: flex;
    gap: 10px;
    font-size: 20px;
}


@media screen and (max-width:992px) {
    nav{
        padding: 10px 20px;
    }

    nav ul{
        gap: 25px;
    }

    main{
        padding: 40px;
    }

    main h1{
        font-size: 40px;
    }

    main p{
        font-size: 16px;
    }

    #about{
        padding: 100px 40px;
    }

    .about-header h1{
        font-size: 30px;
    }

    .about-body h3{
        font-size: 16px;
        padding: 10px 0;
    }

    .about-header p, .about-body P{
        font-size: 15px;
    }

    #blogs{
        padding: 80px 40px;
    }

    .blog-body{
        /* font-size: 10px; */
        gap: 30px;
    }

    .blog-body h4{
        font-size: 12px;
    }

    .blog-body .blogContent a{
        font-size: 12px;
    }

    .blog-body p{
        font-size: 10px;
    }

    #careers{
        padding: 40px 30px;
        font-size: 12px;
    }
}



